<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body class="main-page">
  
      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>
      
      <!-- Page Content -->
      <main class="container mainJumbo">
        <% include ../static/partials/messages.ejs %>

        <!-- Page Features -->

         <!-- If user redirects to main page and signed in, provide a way to go to lists -->
         <% if(currentUser) { %>
         <div class="container mainJumbo" style="text-align:center">
          <h4>Hey there! Why don't we go back to your lists?</h4>
          <br>
          <a href="/lists" class="btn btn-success">Go to My Lists</a>
         </div>
            
         <% } else { %>
          <div class="inbox">
            <div class="item">
              <input type="checkbox">
              <p><b>This is Grab n Go</b></p>
            </div>
            <div class="item">
              <input type="checkbox">
              <p>Simple. Easy-to-use.</p>
            </div>
            <div class="item">
              <input type="checkbox">
              <p>One checklist to sync with family.</p>
            </div>
            <div class="item">
              <input type="checkbox">
              <p>Never forget your items again.</p>
            </div>
            <div class="item">
              <input type="checkbox">
              <p>Sign up today.</p>
            </div>
          </div>
         <% } %>


    </main>
    <!-- /.container -->

     <% include ./partials/baseScripts.ejs %>
  </body>
</html>