<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body class="main-page">
  
      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>
      
      <!-- Page Content -->
      <main class="container">
        <% include ../static/partials/messages.ejs %>


        <!-- Page Features -->
        <div class="jumbotron">

        <% if(currentUser) { %>
        <!-- User Signed In -->
          <h4>Shopping List</h4>
       <% } else { %>
       <!-- Not Signed In -->
       <% }%>

      </div> <!-- /.jumbotron -->
    </main>
    <!-- /.container -->

     <% include ./partials/baseScripts.ejs %>
  </body>
</html>