<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="main-page">
  
      <!-- Navigation -->
      <% include ../static/partials/navbar.ejs %>

      <!-- Page Content -->
      <div class="container-fluid">
        <% include ../static/partials/messages.ejs %>
        <div class="row no-gutter">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Welcome to Grab n Go! Please sign up for an account.</h3>
                    <form method="POST" action="/users/sign_up">
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                      </div>

                      <div class="form-label-group">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                      </div>

                      <div class="form-label-group">
                        <input type="password" id="inputPasswordConf" name="passwordConfirmation" class="form-control" placeholder="Enter Password confirmation" required>
                        <label for="inputPasswordConf">Password Confirmation</label>
                      </div>

                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign up</button>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


       <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>